{% extends "core/base.html" %}
{% load icones %}
{% block title %}Mes notes{% endblock %}
{% block header_color %}#8b5cf6{% endblock %}
{% block header_title %}{% icone "notes" %} MES NOTES {{ annee }}{% endblock %}
{% block content %}
<div class="actions-bar">
    <p class="aide">{% icone "info" %} {{ nb_notes }} note{{ nb_notes|pluralize }} saisie{{ nb_notes|pluralize }} cette année, par classe puis par matière. La secrétaire et la direction de votre section les voient aussi.</p>
    {% if a_noter %}<a href="{% url 'core:saisie_notes' %}" class="btn btn-add">{% icone "saisie" %} Saisir des notes</a>{% endif %}
</div>
{% include "core/_notes_par_classe.html" with ouvrir=True cacher_professeur=True texte_vide="Vous n'avez pas encore saisi de notes cette année." %}
{% endblock %}
